{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-md-3">
        <div class="list-group">
            <a href="/" class="list-group-item list-group-item-action">All Products</a>
            {% for cat in cats %}
                <a href="/?category={{cat.id}}" class="list-group-item list-group-item-action">{{cat.name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-9">
        <div class="row">
            {% for p in pro %}
            <div class="col-md-4 mb-4">
                <div class="card h-100">
                    <img class="card-img-top" src="{{p.image.url}}" alt="{{p.name}}" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{p.name}}</h5>
                        <p class="card-text">{{p.desc}}</p>
                        <p class="card-text"><strong>Price: ₹{{p.price}}</strong></p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="/product/?pid={{p.id}}" class="btn btn-primary btn-sm">View Details</a>
                        <a href="/buynow/?pid={{p.id}}" class="btn btn-success btn-sm">Buy Now</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
